{% extends 'basic.html' %}
{% block title %} About-Us {% endblock %}
{% block body %} 

  <div class="container-fluid  shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="fs-1 text-center">About Us</div>
  </div>
  <div class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Welcome to our domestic services website! We are a team of dedicated and professional cleaners who are
          committed to providing high-quality cleaning and maintenance services to homes and businesses.</p>
        <p>We understand that every home is unique and that's why we work closely with our clients to create a
          customized cleaning plan that meets their specific needs and preferences. We use only the best products and
          equipment to ensure that your home is cleaned to the highest standard.</p>
      </div>
      <div class="col-md-12">
        <p>Our services include:</p>
        <ul>
          <li>Regular house cleaning</li>
          <li>Deep cleaning</li>
          <li>Carpet cleaning</li>
          <li>Electrician</li>
          <li>Plumbing</li>
          <li>Carpentering</li>
        </ul>
        <p>We are fully insured and all of our team members are carefully vetted, trained and equipped with the best
          technology to provide you with the best domestic service.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>We take pride in providing our services with honesty, reliability and confidentiality to ensure your peace of
          mind.
          We also offer flexible scheduling options to fit your busy lifestyle. You can schedule regular cleaning
          services on a weekly, bi-weekly, or monthly basis, or schedule a one-time deep cleaning service for special
          occasions or to freshen up your home.</p>
        <p>Thank you for considering us for your domestic service needs. If you have any questions or would like to
          schedule a service, please don't hesitate to contact us. We look forward to helping you keep your home clean
          and organized!</p>
      </div>
    </div>
  </div>

  </div>


  {% endblock  %}