{% extends 'basic.html' %}
{% block title %}Home{% endblock %}
{% block body %} 
<!-- Carousel -->
  <div id="carouselExampleDark" class="carousel  carousel-fade slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../static/pic1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="bod">Healthy Kitchen</h5>
          <p class="p1">Cleanning and organizing is a practice , not a project.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../static/pic2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="bod">Suffering from Cleanning??</h5>
          <p class="p1">Don`t stress . We will handle the mess.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/pic3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="bod">Keep Clean.</h5>
          <p class="p1">Oue aim is to keep bathroom clean.</p>
        </div>
      </div>
    </div>
  </div>

  <section style="background-color: #eee;">
    <div class="container py-5">
      <hr class="container">
      <h4 class="text-center mb-5 fs-1"><strong>Cleaning</strong></h4>
      <div class="row">
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="bg-image hover-zoom ripple shadow-1-strong rounded-6">
            <img src="../static/clean.jpeg" class="w-100" />
            <a href="services/cleanning">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-start align-items-start h-100">
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(255, 255, 255, 0.15);"></div>
              </div>
            </a>
          </div>
          <p class="fs-6 fw-bold my-2 text-center">Bath Cleanning</p>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="bg-image hover-zoom ripple shadow-1-strong rounded-6">
            <img src="../static/full.jpeg" class="w-100" />
            <a href="services/cleanning">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-start align-items-start h-100">
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(255, 255, 255, 0.15);"></div>
              </div>
            </a>
          </div>
          <p class="fs-6 fw-bold my-2 text-center">Full House Cleanning</p>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="bg-image hover-zoom ripple shadow-1-strong rounded-6">
            <img src="../static/gardenclean.jpg" class="w-100" />

            <a href="services/cleanning">

              <div class="mask" style="background-color: rgba(92, 92, 92, 0.3);">
                <div class="d-flex justify-content-start align-items-start h-100">
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(255, 255, 255, 0.15);"></div>
              </div>
            </a>
          </div>
          <p class="fs-6 fw-bold my-2 text-center">Garden Cleanning</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="bg-image hover-zoom ripple shadow-1-strong rounded-6">
            <img src="../static/kitchenclean2.jpg" class="w-100" />
            <a href="services/cleanning">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-start align-items-start h-100">
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(255, 255, 255, 0.15);"></div>
              </div>
            </a>
          </div>
          <p class="fs-6 fw-bold my-2 text-center">KitchenCleanning</p>
        </div>
      </div>
      <hr class="container">

    </div>
  </section>

  <section style="background-color: #eee;padding: 0;">

    <div class="container">

      <h4 class="text-center mb-5 fs-1"><strong>Home Repairs</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="bg-image hover-zoom ripple shadow-1-strong rounded-6">
            <img src="../static/plumbing.jpg" class="w-100" />
            <a href="services/plumbing">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-start align-items-start h-100">
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(255, 255, 255, 0.15);"></div>
              </div>
            </a>
          </div>
          <p class="fs-6 fw-bold my-2 text-center">Plumbing</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="bg-image hover-zoom ripple shadow-1-strong rounded-6">
            <img src="../static/electrician.jpg" class="w-100" />

            <a href="services/electrics">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-start align-items-start h-100">
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(255, 255, 255, 0.15);"></div>
              </div>
            </a>
          </div>
          <p class="fs-6 fw-bold my-2 text-center">Electrician</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="bg-image hover-zoom ripple shadow-1-strong rounded-6">
            <img src="../static/carp3.jpg" class="w-100" />

            <a href="services/carpenter">
              <div class="mask" style="background-color: rgba(92, 92, 92, 0.3);">
                <div class="d-flex justify-content-start align-items-start h-100">
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(255, 255, 255, 0.15);"></div>
              </div>
            </a>
          </div>
          <p class="fs-6 fw-bold my-2 text-center">CarPenters</p>
        </div>
      </div>
      <hr class="container">

    </div>
  </section>
  <h2 class="fs-2 fw-bold mx-5 px-5 mb-4">What's hot right now??</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 mb-5 px-4">
    <div class="col">
      <div class="card h-100">
        <img src="../static/ai.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="fs-2 fw-bold">1.) A.I.</h3>
          <h5 class="fs-6">Artificial Intelligense.</h5>
          <p class="card-text is-justified">Artificial intelligence (AI) is intelligence—perceiving, synthesizing, and
            inferring information—demonstrated by
            machines, as opposed to intelligence displayed by non-human animals and humans. Example tasks in which this
            is done
            include speech recognition, computer vision, translation between (natural) languages, as well as other
            mappings of
            inputs.</p>
          <a href="https://en.wikipedia.org/wiki/Artificial_intelligence" class="fs-6 fw-bold" target="_blank">Read
            More..</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <span class="position-absolute top-0 start-100 translate-middle p-3 bg-info border border-light rounded-circle">
        </span>
        <img src="../static/gpt.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="fs-2 fw-bold">2.) Chat GPT.</h3>
          <p class="card-text is-justified">ChatGPT (Generative Pre-trained Transformer)[1] is a chatbot launched by
            OpenAI in November 2022. It is built on top of
            OpenAI's GPT-3 family of large language models, and is fine-tuned (an approach to transfer learning[2]) with
            both
            supervised and reinforcement learning techniques.</p>
          <a href="https://en.wikipedia.org/wiki/ChatGPT" class="fs-6 fw-bold" target="_blank">Read More..</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../static/cc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="fs-2 fw-bold">3.) Cloud Computing</h3>
          <p class="card-text is-justified">Cloud computing[1] is the on-demand availability of computer system
            resources, especially data storage (cloud storage)
            and computing power, without direct active management by the user.[2] Large clouds often have functions
            distributed over
            multiple locations, each of which is a data center. Cloud computing relies on sharing of resources to
            achieve coherence
            and typically uses a "pay as you go" model, which can help in reducing capital expenses but may also lead to
            unexpected
            operating expenses for users.</p>
          <a href="https://en.wikipedia.org/wiki/ChatGPT" class="fs-6 fw-bold" target="_blank">Read More..</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  {% endblock  %}
  