<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paytm payment page</title>
</head>
<body>
    <h1>Redirecting to merchant.</h1>
    <form action="https://securegw-stage.paytm.in/theia/processTransaction" method="post" name="paytm">
        {% for key,value in data_dict.items %}
            <input type="hidden" name="{{key}}" value="{{value}}">
        {% endfor %}
    </form>
</body>
<script>
    document.paytm.submit()
</script>
</html>