{% extends 'basic.html' %}
{% block title %} Services {% endblock %}
{% block body%}

    <div class="container mt-3">
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4 col-md-8 align-self-center">
                <h2 class="fw-bolder">Plumbers</h2>
                <p><span class="fa fa-star fw-bolder fs-4">4.3(500+)</span></p>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 mx-auto">
                <img class="img-fluid hover-shadow rounded-6" width="450px" height="300px" src="../static/plumbing.jpg"
                    alt="">
            </div>
        </div>
    </div>
    <hr class="container mt-3">
    <div class="container">
        <h3 class="text-center fw-bolder mb-3">Other Plumbing Services</h3>
        <div class="row">
            {% for i in plumbing|slice:"0:" %}
            <div class="col-lg-3 mt-2">
                <img src="/media/{{i.image}}" alt="" class="img-fluid hover-shadow rounded-6">
                <h5 class="mt-1 fw-bolder">{{i.ServiceName}}</h5>
                <h4 class="fw-bolder"><span class="bi bi-currency-rupee"></span> {{i.price}}</h4>
                <h6 class="fw-bolder"><span class="fa fa-star"></span> 4.1 (100+)</h6>
                <hr>
                <a href="#!">
                    <h6 class="fw-bolder"><span class="fa fa-tag"></span>{{i.offer}}</h6>
                </a>

                <li class="is-justified  fs-7">
                    {{i.description1}}
                </li>
                <li class="is-justified fs-7">
                    {{i.description2}}
                </li>
                <form action="{% url 'add_to_cart' cat=i.category sno=i.sno %}" method="POST">
                    {% csrf_token %}
                <button type="submit" id="Sr-{{i.sno}}" class="btn btn-primary fs-6 mt-1 cart">Add to cart</button>
                </form>
            </div>
            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
        <hr>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr class="container mt-3">
    <h4 class="fw-bolder text-center fs-1 ">Customers Reviews</h4>
    <div class="container py-4">
        <div class="ex1 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-4">
            {% for info in info %}
            <div class="col">
                <div class="card h-100 card-review">
                    <div class="card-header pb-0 d-flex flex-row justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-2" src="../static/profile.png" />
                            <div class="d-flex flex-column justify-content-center align-items-start fs-5 lh-sm">
                                <b class="text-primary">{{ info.uname }}</b>
                                <small class="text-muted">{{ info.dt }}</small>
                            </div>
                        </div>
                        <span class="fs-1 my-0 fw-bolder text-success">{{info.rating}}</span>
                    </div>
                    <div class="card-body py-2">
                        <p class="card-text is-justified">{{ info.comment }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr class="container">
    <div class="container">
        <h4 class="fs-1 fw-bolder text-center text-dark">Write your review</h4>
        <div class="row mx-auto my-3">
            <div class="form-floating mb-3 col-lg-3">
                <input type="email" class="form-control rounded-6" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="mx-2 fw-bolder">Enter your name</label>
            </div>
            <div class="form-floating col-lg-5">
                <textarea class="form-control rounded-6" placeholder="Leave a comment here"
                    id="floatingTextarea"></textarea>
                <label for="floatingTextarea" class="mx-2 fw-bolder">Enter here your review..</label>
            </div>
            <div class="col-lg-3">
                <div class="starrating risingstar d-flex justify-content-center align-items-center flex-row-reverse">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star">5</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star">4</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star">3</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star">2</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1</label>
                </div>
            </div>
            <div class="col-lg-1">
                <button type="submit" class="btn btn-primary fw-bolder">Submit</button>
            </div>
        </div>
    </div>
{% endblock %}